examples/invalid_input_data_types.json
[
    {
        "id": "b5772968.646c48",
        "type": "moment",
        "z": "533475c4.a28eac",
        "name": "input: msg.payload",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm",
        "locale": "en_US",
        "output": "now",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "c00ebbd6.15f268"
            ]
        ]
    },
    {
        "id": "a2ea49dc.6517a8",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "b5772968.646c48"
            ]
        ]
    },
    {
        "id": "c00ebbd6.15f268",
        "type": "debug",
        "z": "533475c4.a28eac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "1498cc14.a15c14",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "blank string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "b5772968.646c48"
            ]
        ]
    },
    {
        "id": "1779577f.94eb19",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "'test'",
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "b5772968.646c48"
            ]
        ]
    },
    {
        "id": "6da87cd5.6787d4",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "null",
        "topic": "",
        "payload": "null",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "b5772968.646c48"
            ]
        ]
    },
    {
        "id": "d330922b.108d4",
        "type": "comment",
        "z": "533475c4.a28eac",
        "name": "Pass different data types to a valid input property",
        "info": "",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "cb36dd1c.c40f5",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "Invalid Date String",
        "topic": "Invalid Date String",
        "payload": "36th September 3046",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "b5772968.646c48"
            ]
        ]
    }
]