examples/non-existent_input_property.json
[
    {
        "id": "6f334f90.6331f",
        "type": "moment",
        "z": "533475c4.a28eac",
        "name": "input: msg.foo",
        "topic": "",
        "input": "foo",
        "inputType": "msg",
        "inTz": "America/New_York",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD HH:mm",
        "locale": "en_US",
        "output": "now",
        "outputType": "msg",
        "outTz": "America/New_York",
        "x": 440,
        "y": 660,
        "wires": [
            [
                "2727d4d4.fdc7ec"
            ]
        ]
    },
    {
        "id": "5f4a201.9d89ee",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "6f334f90.6331f"
            ]
        ]
    },
    {
        "id": "2727d4d4.fdc7ec",
        "type": "debug",
        "z": "533475c4.a28eac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 630,
        "y": 660,
        "wires": []
    },
    {
        "id": "cbf81af.c42a1e8",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "blank string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "6f334f90.6331f"
            ]
        ]
    },
    {
        "id": "920ad097.cbde9",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "'test'",
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "6f334f90.6331f"
            ]
        ]
    },
    {
        "id": "2f979eb0.71d942",
        "type": "inject",
        "z": "533475c4.a28eac",
        "name": "null",
        "topic": "",
        "payload": "null",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "6f334f90.6331f"
            ]
        ]
    },
    {
        "id": "9d638f84.3b665",
        "type": "comment",
        "z": "533475c4.a28eac",
        "name": "Reference a non-existent input property",
        "info": "",
        "x": 510,
        "y": 620,
        "wires": []
    }
]